:root {
  --primary-color: #2c2c2c;
  --secondary-color: #f6f6f6;

  --primary-font: prateek-font;
}

@font-face {
  font-family: prateek-font;
  src: url("fonts/SamsungOne-700.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Navbar Section */
.navbar {
  width: 90%;
  margin: auto;
  height: 10vh;
  display: flex;
  align-items: center;
  gap: 40px;
}
.brandLogo {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logo {
  width: 100%;
  height: 70.5px;
  object-fit: cover;
}
.navContent ul {
  display: flex;
  list-style: none;
  gap: 28px;
}
.navContent li {
  padding: 5px 10px;
}
.navContent li:hover {
  border: 2px solid black;
}
.navContent li a {
  text-decoration: none;
  color: var(--primary-color);
  font-family: var(--primary-font);
  text-transform: capitalize;
}

#tv {
  text-transform: uppercase;
}

/* Hero Section */
.heroSection {
  height: 100vh;
  width: 95%;
  margin: auto;
  margin-top: 1%;
  /* border: 2px solid black; */
  background-image: url("assets/samsungZfold7.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.heroContent {
  /* border: 2px solid black; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 23%;
  padding-top: 5%;
  font-family: var(--primary-font);
}
#learnMore {
  text-decoration: none;
  color: var(--primary-color);
  text-transform: capitalize;
}
#buy {
  padding: 12px 22px;
  border-radius: 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
}
button {
  border: none;
  outline: none;
  border: 1px solid black;
}
button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Content Section */
.contentContainer {
  width: 95%;
  margin: auto;
  height: 100vh;
  border: 2px solid black;
  margin-top: 2%;
  background-image: url("assets/samsungGalaxy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
